@use "../utils/resetCSS" as *;
@use "../utils/variables" as *;
@use "../utils/components" as *;

.projects-page {
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: $violet transparent;
	scrollbar-width: thin;
}

.project {
	position: relative;
	max-width: 900px;
	margin-bottom: 2.5rem;
	opacity: 0;
	rotate: -15deg;
	transform-origin: left;

	&:nth-child(1) {
		animation: 0.3s 0.2s showItem forwards;
	}
	&:nth-child(2) {
		animation: 0.3s 0.4s showItem forwards;
	}
	&:nth-child(3) {
		animation: 0.3s 0.6s showItem forwards;
	}
	&:nth-child(4) {
		animation: 0.3s 0.8s showItem forwards;
	}

	&__img-box {
		width: 12rem;
		height: 12rem;
		margin-top: 1.5rem;
	}

	&__img-border {
		position: relative;
		width: 12rem;
		height: 12rem;
		border: 3px solid $white;
		border-radius: 30px;
	}

	&__img {
		position: absolute;
		top: -15px;
		left: 15px;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 30px;

		&--project1 {
			background-image: url("../img/project_forest.jpg");
		}

		&--project2 {
			background-image: url("../img/project_psiakinati.jpg");
		}

		&--project3 {
			background-image: url("../img/project_e_commerce_product_page.jpg");
		}

		&--project4 {
			background-image: url("../img/project_landing_page.jpg");
		}
	}

	&__links {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}

	&__link {
		padding: 0.5rem;
		font-size: 1.4rem;
		transition: color 0.3s;

		&:hover,
		&:focus {
			color: $violet;
		}

		&:first-child {
			padding-left: 0;
		}
	}

	&__title {
		margin-top: 1rem;
		font-size: 3.8rem;
		font-weight: 400;
		line-height: 100%;
		text-transform: uppercase;
	}

	&__description {
		font-size: 1.6rem;
		line-height: 120%;
	}
}

// MEDIA QUERIES
@media (min-width: 576px) {
	.project {
		&__link {
			font-size: 1.6rem;

			&:focus-visible {
				outline: 1px solid $violet;
			}
		}
	}
}

@media (min-width: 768px) {
	.project {
		&__title {
			font-size: 5rem;
		}

		&__description {
			font-size: 2.2rem;
		}
	}
}

@media (min-width: 1200px) {
	.project {
		margin-bottom: 3.5rem;

		&__link {
			margin-right: 0.5rem;
			font-size: 1.8rem;
		}
	}
}

@media (min-width: 1400px) {
	.project {
		&__title {
			font-size: 6rem;
		}
	}
}
